.pressure-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pressure-container > .heading {
    font-size: 2em;
    margin-top: 10px;
}

.pressure-container > .separator {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid green;
}

.pressure-container > .pressure-list {
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.pressure-container > .button.submit {
    border: none;
	padding: 8px 15px 8px 15px;
	background: #FF851B;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 15px;
}