body {
    background: #200122; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #200122, #6f0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.navbar {
    margin: 0;
}

.navbar a {
    font-size: 2.5em;
}

.navbar a:last-child {
    margin-right: 0;
}

.home-page {
    color: white;
}

canvas {
    width: 100%;
}
